/* Importing default settings */
@import "../settings/index";

/* Object specific settings  */
:root{

    --wrapper-size-base: 1180px;
    --wrapper-size-small: 840px;
    --wrapper-size-large: 1560px;
    --wrapper-gutter: 20px;

}

.o-wrapper{
    lost-center: var(--wrapper-size-base); /* Lost grid utilities */
    padding: * var(--wrapper-gutter);
}

.o-wrapperSmall{
    lost-center: var(--wrapper-size-small); /* Lost grid utilities */
    padding: * var(--wrapper-gutter);
}

.o-wrapperLarge{
    lost-center: var(--wrapper-size-large); /* Lost grid utilities */
    padding: * var(--wrapper-gutter);
}
