/* Importing base settings */
@import "../settings/index";

/* Component specific settings  */
:root{

    /* Deafult skin  */
    --btn-font-type: "Arial";
    --btn-font-size: var(--font-size-base);
    --btn-color: var(--black);
    --btn-background: var(--white);
    --btn-border-radius: 5px;
    --btn-padding: calc(var(--spacing-base) / 2);
    --btn-margin: 0;


    /* primary skin  */
    --btn-primary-background: #f2dede;
    --btn-primary-color: #a94442;
    --btn-primary-border-color: #ebcccc;

     /* secondary skin  */
    --btn-secondary-background: #dff0d8;
    --btn-secondary-color: #3c763d;
    --btn-secondary-border-color: #d0e9c6;

}


/* Component base styles */
.c-btn{

    padding: var(--btn-padding);
    margin: var(--btn-margin);

    border: 1px solid var(--gray-medium);
    border-radius: var(--btn-border-radius);

    font-size: var(--btn-font-size);
    font-family: var(--btn-font-type);
    line-height: var(--line-height-base);

    color: var(--btn-color) var(--btn-background);

    display: inline-block;
    vertical-align: middle;

    text-align: center;
    white-space: nowrap;

    transition: background var(--animation-time-base) var(--animation-ease-base);

    &:--enter{
        color: var(--btn-background) var(--btn-color);
    }
}


    /* Component layout  */
    .c-btn--small{

    }

    .c-btn--large{

    }

    /* Component skin  */
    .c-btn--primary{
        color: var(--btn-primary-color) var(--btn-primary-background);
        border: 1px solid var(--btn-primary-border-color);

        &:--enter{
            color: var(--btn-primary-color) var(--btn-primary-background);
        }

    }

    .c-btn--secondary{
        color: var(--btn-secondary-color) var(--btn-secondary-background);
        border: 1px solid var(--btn-secondary-border-color);

        &:--enter{
            color: var(--btn-secondary-color) var(--btn-secondary-background);
        }

    }
