/* Importing base settings */
@import "../settings/index";

/* Component specific settings  */
:root{

    /* Deafult skin  */
    --input-width-fuild: 100%;
    --input-width-base: 400px;
    --input-font-type: "Arial";
    --input-font-size: var(--font-size-base);
    --input-color: var(--black);
    --input-background: var(--white);
    --input-border-radius: 5px;
    --input-border-color: var(--gray-medium);
    --input-padding: var(--spacing-base);

}

.c-input{

    border: 1px solid var(--input-border-color);
    border-radius: var(--input-border-radius);
    padding: calc(var(--input-padding) / 2);

    display: block;

}

    /* Component layout  */
    .c-input--inline{
        display: inline-block;
    }

    .c-input--fluid{
        width: var(--input-width-fuild);
    }

    .c-input--small{
        width: calc(var(--input-width-base) / 2);
    }

    .c-input--large{
        width: calc(var(--input-width-base) / 2);
        padding: var(--input-padding);
    }

