/* Importing base settings */
@import "../settings/index";

/* Component specific settings  */
:root{

    --modal-width-base: 500px;
    --modal-font-size: var(--font-size-base);
    --modal-color: var(--black);
    --modal-background: var(--white);
    --modal-border-radius: 5px;
    --modal-border-color: var(--black);
    --modal-padding: var(--spacing-base);

}

 /* Component Layout  */
.c-modal{
    size: var(--modal-width-base) *;
    padding: var(--modal-padding);
}

.c-modalSmall{
    size: calc(var(--modal-width-base) / 2) *;
    padding: var(--modal-padding);
}

.c-modalbig{
    size: calc(var(--modal-width-base) * 2) *;
    padding: var(--modal-padding);
}

    /* Component skin  */
    .c-modal--default{
        color: var(--modal-color) var(--modal-background);
        border-radius: var(--modal-border-radius);
        border: 1px solid var(--modal-border-color);
    }
