@charset "UTF-8";

/**
 * Sass code is structured according to ITCSS [1] and BEM [2]. The folders are
 * numbered to better reflect the underlying principles of ITCSS, e.g. styles in
 * `base` are unclassed elements (low specificity), styles in `objects` or
 * `components` are classed selectors occasionally prefixed with BEM modifiers
 * (higher specificity).
 *
 * The aim is to build up the specificity graph [3] the way it should be.
 *
 * [1] https://speakerdeck.com/dafed/managing-css-projects-with-itcss
 * [2] http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/
 * [3] http://csswizardry.com/2014/10/the-specificity-graph/

*/


@import "settings/index";


@import "tools/index";


@import "generic/index";


@import "elements/index";


@import "objects/index";


@import "components/index";


@import "trumps/index";

/*  TAGS */
.tags {
  display:inline-block;
  background-color:white;
  border:1px solid black;
  font:normal normal normal 16px/18px Helmet,FreeSans,Sans-Serif;
  color:black;
  padding:4px 4px 0 0;
  cursor:text;
}

.tags-input {
  display:inline-block;
  width:10em;
  margin:0 0 4px;
  padding:4px 6px;
  background:none;
  border:0;
  outline:0;
  font:inherit;
  color:inherit;
  text-align:left;
  text-shadow:none;
}

.tags-output {
  display:inline-block;
  margin-left:4px;
}

.tags-output span {
  display:inline-block;
  background-color:red;
  margin:0 4px 4px 0;
  padding:4px 6px;
  border-radius:2px;
  cursor:default;
}

.tags-output a {
  display:inline-block;
  text-decoration:none;
  color:white;
  cursor:pointer;
  margin-left:6px;
}
