@import "../settings/index";

:root{

    --hr-border-color:  var(--color-border-base);
}

hr{
    margin: 0;
    border: 0;
    padding: 0;
    height: 1px;
    background: var(--hr-border-color);
}
