@import "../settings/index";

:--input {

    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid transparent;
}

/* Make sure we are not adding the select height to multi select */
select[multiple] {
    height: auto;
}

/* Styles relevant to checkboxes */
input[type="checkbox"] {
    vertical-align: bottom;
}

/* Styles relevant to radio buttons */
input[type="radio"] {
    vertical-align: text-bottom;
}

/**
 * Browser Specific
 */

/* Remove extra spacing that Firefox adds to buttons */
button::-moz-focus-inner {
    padding: 0;
    border: 0
}

/* Remove spinner from type="number" */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
