@import "../settings/index";

a{
    color: var(--color-link-base);
    text-decoration: none;

    &:--enter{

        color: var(--color-link-base);
        outline: none;
    }
}

:--headings > a{

    color: inherit;
}
