:root {

    --spacing-base:     1rem;

    --spacing-x:       calc(var(--spacing-base) * 2);

    --spacing-xx:      calc(var(--spacing-base) * 3);

    --spacing-xxx:     calc(var(--spacing-base) * 4);

}
